<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reservations</title>
  <link rel="stylesheet" type="text/css" href="css/reservation-list.css" />
 <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet"> 
  
    <style>
a {
    color: white;
}
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #526062;
}
</style>
  
  
  </head>
<body>

  <div id="system-error" class="message">We are sorry, retrieving the list of reservations failed - please try again later.</div></h2>
  <div id="action-error" class="message">We are sorry, we were unable to execute your action - please try again later.</div></h2>

  <div id="reservation-list">
    <!-- the content will be placed here -->
  </div>    

  <script id="reservation-list-template" type="text/x-handlebars-template">  
    <table>
      <caption>List of reservations</caption>
      <thead>
        <tr>
          <th>Reservation ID</th>
          <th>Facility ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Reserved by</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
    {{#each content}}  
        <tr>                    
          <td>{{id}}</td>
          <td>{{resourceId}}</td>
          <td>{{startDate}}</td>            
          <td>{{endDate}}</td> 
          <td>{{owner}}</td> 
          <td><a href="#" class="action" reservationId="{{id}}">Cancel</a>           
        </tr>
    {{/each}}
      </tbody>
    </table>
  </script>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/lib/handlebars-v3.0.0.js"></script>
  <script src="js/reservation-list.js"></script>
  
<ul>
  <li><a  href="index.html">Home</a></li>
  <li><a   class="active" href="reservation-list.html">List of reservations</a></li>
  <li><a  href="reservation.html">Make a reservation</a></li>
 
</ul>

</body>
</html>