@CHARSET "ISO-8859-1";



body {
    background-image: url("hatter.jpg");
	
	font-family: 'Bangers', cursive;
		
	
}



div {
	 
	margin:auto;
    width: 30%;
	height: 40%;
	text-align: center;
	border: grey;
	background-color: grey;
	padding: 3%;
	 background-image: url("kicsihatter.jpg");

}