@CHARSET "ISO-8859-1";

.message {
	display: none;
}

body {
    background-image: url("hatter.jpg");
	
	font-family: 'Bangers', cursive;
		
	
}
div {
	 
  margin: 0 auto;
    width: 30%;
	height: 40%;
	text-align: center;
	border: grey;
	background-color: grey;
	padding: 3%;
	 background-image: url("kicsihatter.jpg");
	color: white;
}