@CHARSET "ISO-8859-1";

body {
    background-image: url("hatter.jpg");
	
	font-family: 'Bangers', cursive;
		
	
}


label,
button {
	display: block;
	
	margin: 0 auto;

}

.message {
	display: none;
}
#reservationForm {
	 
  margin: 0 auto;
    width: 30%;
	height: 30%;
	text-align: center;
	border: grey;
	background-color: grey;
	padding: 3%;
	 background-image: url("kicsihatter.jpg");

}
div {
	 
  margin: 0 auto;
    width: 30%;
	height: 40%;
	text-align: center;
	border: grey;
	background-color: white;
	padding: 3%;
	);

}



